{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>FaceBatch8</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">

		<!--Import Google Icon Font-->
      	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	</head>

	<body>
		  <h1>YES</h1>

		  {% for product in productos %}
			{# <a href="{{post.get_absolute_url}}"> #}
			<h2>{{product.nombre}}</h2>
			</a>
			<p>{{product.modelo}}</p>
			<p>{{product.descripcion}}</p>
		  {%endfor%}

		{% block content %}

		{% endblock content%}

		<!--Import jQuery before materialize.js-->
      	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  		<script type="text/javascript">
  			$( document ).ready(function(){
  				$(".button-collapse").sideNav();
  			});
  			
  		</script>
  
	</body>
</html>