{% load static %}
​
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
​
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'estilo.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'header.css'%}" type="text/css">
​
  <title>FaceBatch8</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'productos:todos' %}" class="brand-logo center"><img width="200" src="{% static 'logo.png'%}"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{% url 'productos:todos' %}">Home</a></li>
        <li><a href="{% url 'productos:todos' %}">Jetpacks</a></li>
        <li><a href="{% url 'productos:todos' %}">Contacto</a></li>
      </ul>
    </div>
  </nav>
​
​
<header class="cont-slider">
    <section class="slider">
      <article class="slide uno"><span>Innovación</span></article><!--
      --><article class="slide dos"><span>Tecnología</span></article><!--
      --><article class="slide tres"><span>Rapidéz</span></article><!--
      --><article class="slide cuatro"><span>Calidad</span></article><!--
      --><article class="slide cinco"><span>Seguridad</span></article>
    </section>
</header>
​
  {% block content %}
  {% endblock content %}
​
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/JavaScript">
    $( document ).ready(function(){
    $(".button-collapse").sideNav();
    })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>